.container {
  background-color: rgba(255,255,255,0.2);
  padding: 1em;
  border-radius: 5px;
}
.main_wrapper {
  max-width: 65%;
}
.ingredientWrapper {
  border-radius: 0px 0px 5px 5px;
  max-width: 90%;
  margin: auto;
  background-color: rgba(0,0,0,0.1);
}
.ingredientWrapper li {
  padding: 30px;
  display: inline-flex;
}
.login_logo {
  width: 100%;
  display: flex;
  align-items: center;
}

