.ingredient_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    padding: 0px 15px;
}

.ingredient_name {
    justify-content: flex-start;
    width: 100%;
    display: flex;
}

.ingredient_name img {
    width: 28px;
    padding-right: 15px;
}