.ingredient_wrapper {
  border: 1px solid rgb(160, 160, 160);
  /* border-radius: 5px; */
  margin-bottom: 5px;
}

.ingredient_wrapper::after {
  padding: 10px 0px 10px 0px;
}

.ingredientWrapper li {
  padding: 10px;
  display: inline-flex;
  
}

.ingredient_name img {
  width: 28px;
  padding-right: 15px;
}

.ingredient_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 15px;
}

.ingredient_name {
  justify-content: flex-start;
  width: 100%;
  display: flex;
}

