.loginPanel {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 75%;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login_logo {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #cacaca;
    align-items: center;
}

.login_header {
    align-items: center;
}

.login_body {
    display: flex;
}

.panel_left {
    margin: 2em;
    background-color: white;
}

.panel_right {
    background-size: cover;
    background-image: url('../images/background_login.jpg');
}

.login_intro {
    color: white;
    margin: 2em;
}

.btn {
    
    display: flex;
    padding: .5em 1em;
    /* height: 35px; */
    width: 190px;
}

.btn svg {
    padding-right: 10px;
}

.btn_facebook {
  border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #4267B2;
}

.btn_google {
    background-color: #4285F4;
}