.loginPanel {
    display: flex;
    width: 75vw;
    height: 75vh;
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login_logo {
    width: 100%;
    display: flex;
    align-items: center;
}

.login_header {
    /* display: flex; */
    align-items: center;
}

.login_body {
    display: flex;
}

.login_form {
    display: grid;
}
.login_footer {
    position: absolute;
    bottom: 0
}

.panel_left {
    height: 100%;
    width: 50%;
    background-color: white;
}

.panel_right {
    width: 50%;
    background-size: cover;
    background-image: url('../images/background_login.jpg');
}

.login_intro {
    color: white;
    margin: 2em;
}

.btn {
    
    display: flex;
    padding: .5em 1em;
    /* height: 35px; */
    width: 190px;
}

.btn svg {
    padding-right: 10px;
}

.btn_facebook {
    color: white;
    background-color: #4267B2;
}

.btn_google {
    background-color: #4285F4;
}