.recipeWrapper {
  display: flex;
  width: 200px;
  height: auto;
  padding: 0px;
  
}

.recipeWrapper img {
  width: 200px;
  border-top: 5px;
  border-radius: 5px 5px 0px 0px;
}

.recipeWrapper h4 {
  margin: 0px;
  padding: 5px;
}

.recipeContent {
  border-radius: 5px;
  margin: .5em;
  background-color: #e0e0e0;
}